<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EmployeeBill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${employeebill}" class="container my-5">
                <p class="my-5">
                    <a href="/finance" class="btn btn-primary">
                        <i class="fas fa-backward ml-2"> Back </i></a>
                </p>
                <p class="my-5">
                    Lawyer Total Cost
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Employee-Id</th>
                                <th>Number of Hours</th>
                                <th>Unit Cost</th>
                                <th>Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bill : ${employeebill}">
                                <td th:text="${bill.employeeId}"></td>
                                <td th:text="${bill.timeDifference}"></td>
                                <td th:text="${bill.rate}"></td>
                                <td th:text="${bill.totalCost}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td th:text="${totalText}"></td>
                                <td th:text="${totalCost}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>